/* Main card frame */
QFrame#hardware_wallet_connect_card {
    background: transparent;
    background-color: rgb(18, 28, 48);
    border: 1.5px solid rgb(102, 108, 129);
    border-radius: 16px;
}

/* Title label */
QLabel#hardware_wallet_selection_title {
    font: 20px "Inter";
    font-weight: 700;
    color: rgb(220, 223, 235);
    padding-top: 24px;
    padding-bottom: 8px;
    background: transparent;
    border: none;
}

QLabel#hardware_wallet_connect_title {
    font: 20px "Inter";
    font-weight: 700;
    color: rgb(220, 223, 235);
    padding-left: 21px;
    padding-bottom: 10px;
    background: transparent;
    border: none;
}

QPushButton#close_button{
    background:transparent;
    border:none;
    padding-top: 24px;
    padding-bottom: 8px;
    padding-right:12px;
}
/* Subtitle label */
QLabel#hardware_wallet_connect_subtitle {
    font: 16px "Inter";
    color: rgb(140, 145, 160);
    margin-bottom: 18px;
    background: transparent;
    border: none;
    padding-left: 6px;
}

/* Info label */
QLabel#hardware_wallet_connect_info {
    font: 16px "Inter";
    color: rgb(120, 130, 150);
    margin-top: 32px;
    background: transparent;
    border: none;
}

QLabel#message_label {
    font: 16px "Inter";
    color: rgb(120, 130, 150);
    background: transparent;
    border: none;
}

/* Wallet option buttons */
QFrame#hardware_wallet_option {
    background-color: rgb(36, 44, 70);
    border-radius: 0;
    border: 2px solid transparent;
}
QFrame#hardware_wallet_option:hover {
    border: 2px solid rgb(102, 108, 129);
}
QFrame#hardware_wallet_option[selected="true"] {
    background-color: rgb(27, 35, 59);
    border: 2px solid rgb(102, 108, 129);
}

QLabel#hardware_wallet_option_name {
    font: 16px "Inter";
    color: rgb(140, 145, 160);
    font-weight: 600;
    background: transparent;
    border: none;
    padding-bottom:15px;
    padding-left: 15px;
}
QLabel#hardware_wallet_icon {
    border: none;
    padding-top:15px;
    padding-left:20px;
}

/* Continue button */
QPushButton#primary_button {
    min-width: 180px;
    min-height: 44px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
}

QDialog#hardware_wallet_device_dialog {
    background: transparent;
    border: 1px solid rgb(102, 108, 129);
    background-color: rgb(3, 11, 37);
    border-radius: 8px;
}

/* Device selection frame */
QFrame#hardware_wallet_device_frame {
    background: transparent;
    border: none;
    padding: 0 0 0 0;
}

QLabel#no_device_label {
    font: 16px "Inter";
    color: rgb(140, 145, 160);
    padding-left: 27px;
    padding-bottom: 5px;
}

QLabel#error_label {
    font: 14px "Inter";
    color: red;
    padding-left: 24px;
}
/* Radio button styles for device selection */
QRadioButton {
    font: 16px "Inter";
    color: rgb(140, 145, 160);
    padding-left: 27px;
    padding-bottom: 5px;
}

QRadioButton:hover {
    color:#fff
}

QRadioButton:checked {
    color: white;
}

QRadioButton::indicator {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 2px solid rgb(102, 108, 129);
    background: transparent;
    /* margin-right: 12px; */
}

QRadioButton::indicator:hover {
    border: 2px solid rgb(140, 145, 160);
}

QRadioButton::indicator:checked {
    border: 2px solid rgb(102, 108, 129);
    background: rgb(102, 108, 129);
}

QRadioButton::indicator:checked:hover {
    border: 2px solid rgb(140, 145, 160);
    background: rgb(140, 145, 160);
}
