#wallet_mode_summary {
    background-color: #1B233B;
    border-radius: 8px;
    border: none;
    color: rgb(102, 108, 129);
}

#mode_name {
    color: rgb(102, 108, 129);
    font: 24px "Inter";
    font-weight: 600;
    border: none;
    margin-top:10px;
}

#section_title {
    font: 18px "Inter";
    border: none;
    color: #FFFFFF;
    font-weight: 450;
}

#capabilities_frame, #limitations_frame, #recommended_frame {
    background-color: #030B25;
    border-radius: 8px;
}

#capabilities_list, #limitations_list, #recommended_list {
    color: rgb(102, 108, 129);
    font: 18px "Inter";
    padding-left: 10px;
}

#text_label{
    color: rgb(102, 108, 129);
}